.container {
  padding: 10px;
  border: gray 1px solid;
  margin-bottom: 10px;
}
.list {
  display: grid;
  grid-template-columns: 40px 50px 1fr;
  .num {
    text-align: right;
    padding-right: 20px;
  }
}
.select-info {
  width: 274px;
  margin-left: 35px;
  display: flex;
  font-size: 12px;
  color: gray;
  div {
    width: 50%;
  }
  div:nth-of-type(1) {
    text-align: left;
  }
  div:nth-of-type(2) {
    text-align: right;
  }
}
.select {
  width: 300px;
  padding: 5px 0px 5px 60px;
  display: grid;
  grid-template-columns: 70px 70px 70px;
  input[type="radio"] {
    display: none;
  }
  label {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #cef;
    width: 50px;
    height: 100%;
    border-radius: 3px;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
  }
  label:hover {
    background-color: rgb(155, 193, 212);
  }
  input[type="radio"]:checked + label {
    background-color:#000;
    color: white;
    box-shadow: 1px 1px 1px gray;
    transform: translateY(2px);
  }
}
button:active {
  background-color: gray;
}

#snapbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
  padding: 10px;
  display: flex;
  justify-content: center;
  div {
    display: flex;
    justify-content: center;
  }
  div:nth-of-type(1) {
    width: 40%;
  }
  div:nth-of-type(2) {
    width: 30%;
  }
  div:nth-of-type(3) {
    width: 30%;
  }
}

.my-list {
  padding: 20px;
  .content .info {
    display: grid;
    grid-template-columns: 50px 50px 1fr;
  }
}

#select-2 {
  width: 400px;
  height: 120px;
  display: flex;
  padding: 10px;
  justify-content: center;
  .card {
    width: 320px;
    padding: 10px;
  }
  .card:nth-of-type(1) {
    background-color: aqua;
  }
  .card:nth-of-type(1):hover {
    background-color: blue;
  }
  .card:nth-of-type(2) {
    margin-left: 20px;
    background-color: #cef;
  }
  .card:nth-of-type(2):hover {
    background-color: #0ef;
  }
}

.rest {
  width: 400px;
  display: flex;
  justify-content: center;
}

.last-container {
  margin-bottom: 50px;
}

