<div class="container">
  <div>価値観リスト</div><button (click)="startTimer()">StartTimer</button>
  <div>☆：これは絶対に必要、◯：まあ大切、×：必要ない</div>
  <div *ngFor="let v of values;let i = index;" id="q-{{i}}">
    <div class="list">
      <div class="num">{{i + 1}}</div><div>{{ v[0] }}</div><div>{{ v[1] }}</div>
    </div>
    <div class="select-info"><div>←当てはまる</div><div>当てはまらない→</div></div>
    <div class="select">
      <div><input id="sel2-{{i}}" (click)="setValue(2, i)" type="radio" name="group-{{i}}"><label for="sel2-{{i}}">☆</label></div>
      <div><input id="sel1-{{i}}" (click)="setValue(1, i)" type="radio" name="group-{{i}}"><label for="sel1-{{i}}">◯</label></div>
      <div><input id="sel0-{{i}}" (click)="setValue(0, i)" type="radio" name="group-{{i}}"><label for="sel0-{{i}}">×</label></div>
    </div>
  </div>
</div>
<div id="snapbar">
  <div>残りの質問　{{ restValues }}個</div>
  <div>経過時間: {{ this.timer }}</div>
  <button (click)="pauseTimer()">pause</button>
  <button (click)="startTimer()">start</button>
</div>
<div class="container">
  <div>価値観一覧</div>
  <div class="my-list">
    <div *ngFor="let v of myValues;let i = index;" dndZone>
      <div dndPlaceholderRef class="dndPlaceholder"></div>
      <div class="content" *ngIf="v!! && v.data===2" [dndDraggable]="v.data" dndDropzone (dndDrop)="onDrop($event, item.children)">
        <mat-card dndPlaceholderRef class="dndPlaceholder"></mat-card>
        <mat-card
          class="info"
          [dndDraggable]="v"
          dndEffectAllowed="v.effectAllowed"
          (dndStart)="onDragStart($event)"
          (dndCopied)="onDragged(item, list, 'copy')"
          (dndMoved)="onDragged(item, list, 'move')"
          (dndCanceled)="onDragged(item, list, 'none')"
          (dndEnd)="onDragEnd($event)"
        >
          <div>{{ i + 1 + ": " }}</div><div>{{ values[i][0] }}</div><div>{{ values[i][1] }}</div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
{{ this.missedTag }}
<div class="container">
  <div>大切な方を選んでください</div>
  <button (click)="initRank()">並べ替える</button>
  <div id="select-2" *ngIf="rankflag && this.checkCombinationFlag()">
    <div class="left card" (click)="checkRank(0)">
      <div>{{ this.values[this.leftValue][0] }}</div>
      <div>{{ this.values[this.leftValue][1] }}</div>
    </div>
    <div class="right card" (click)="checkRank(1)">
      <div>{{ this.values[this.rightValue][0] }}</div>
      <div>{{ this.values[this.rightValue][1] }}</div>
    </div>
  </div>
  <div class="rest">残り:{{ this.combination.length - this.combinationFlag }}個</div>
  <div *ngIf="this.checkCombinationFlag()">
    <div></div>
  </div>
</div>
<div class="container last-container">
  <div>並べ替えた価値観一覧</div>
  <button (click)="sortValues()">結果を見る</button>
  <div class="my-list">
    <div *ngFor="let r of rankedValues;let i = index;">
      <div class="content" *ngIf="this.myValuePoints[r[0]] !== 0 && i < 10">
        <div class="info">
          <div>{{ i + 1 + ": " }}</div>
          <!-- <div>{{ r[1] }}</div> -->
          <div>{{ values[r[0]][0] }}</div>
          <div>{{ values[r[0]][1] }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
